/* Styling */


#stage svg{
    position: absolute;
    
}




h1{
    position: absolute;
}



//animations

//first frame
#stage h1,#stage svg{
    opacity:0;
}

//last frame
#stage:hover h1,
#stage:hover svg{
    opacity:1;
}